@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
  }


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100vh;
}


#board {
    display: grid;
    aspect-ratio: 1/1;
    height: min(60vh, 60vw);
    grid: repeat(3, 1fr) / repeat(3, 1fr);
    border: 2px solid black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11em;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
    border-bottom: 6px solid white; /* Only bottom border for the top row */
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
    border-top: 6px solid white; /* Only top border for the bottom row */
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
    border-right: 6px solid white; /* Only right border for the left column */
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
    border-left: 6px solid white; /* Only left border for the right column */
}

input {
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    width: 8em;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
}

input::placeholder {
    color: white;
    opacity: 1;
}

.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    width: 20vh;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white
}

.name-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vh;
}

h1#x, h1#o {
    text-align: center;
    width: 20vh;
    margin-top: 5px;
    margin-bottom: 5px;
}

.score {
    margin: 10px;
    font-size: 3em;
}

button {
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 2em;
    margin-top: 1em;
    padding: 8px;
    box-shadow: 0 0 5px 5px white
}

@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.flicker {
    animation: flicker 0.5s ease-in-out 3; 
}